@model ah799415MIS4200.Models.Visits

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pet.petFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.petFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vets.vetDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vets.vetDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visitDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visitDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visitDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.visitNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
